@import 'tailwindcss';



@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}


/* Apply globally */
body {
  font-family: 'Ubuntu', sans-serif;
}
